.flash_msg{
	color: rgb(0, 0, 0);
	margin-left: 45%;
	position: absolute;
	background-color: rgb(255, 228, 196);
	padding: 2px 30px;
	border-radius: 22px;
	display: none;
}
.selection {
	position: absolute;
	border: 1px solid #89B;
	background: rgb(0, 145, 238);
	background-color: rgb(0, 145, 238);
	border-color: rgb(0, 145, 238);
	}
.size2 {
	height: 118px;
	line-height: 118px;
	}
.size3 {
	height: 178px;
	line-height: 178px;
	}
.drop {
	float: left;
	border: 1px dashed #888;
	background: #EEE;
	text-align: center;
	padding: 20px;
	margin: 0 10px 10px 0;
	}
.dropped {
	background-color: #808080;
	border-color: #B89;
	}	
.active {  
	background-color: #A8A8A8;
	border-color: #9B8;
	}